* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #e6af2e;
  --secondery: #191716;
  --thirdrey: white;
  --fourthry: #bdb7a4;
}

/* nav section  */

nav ul {
  background-color: var(--secondery);
  border-top: 9px solid var(--main);
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--main);
  display: block;
  text-align: center;
  font-size: 15px;
  padding: 15px 30px;
}
nav ul li a:hover {
  color: var(--thirdrey);
}
.logo {
  display: flex;
  justify-content: space-between;
  background-color: var(--main);
  color: var(--secondery);
  font-size: 25px;
  font-style: italic;
  text-transform: uppercase;
}
.logo:hover {
  background-color: var(--thirdrey);
  color: var(--main);
}

@media screen and (min-width: 425px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
  .logo {
    text-align: center;
  }
}

/* nav section end  */

/* #############################  */

/* header section  */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(/img/header-img.jpg);
}

.banner {
  text-align: center;
  color: var(--thirdrey);
  text-transform: uppercase;
}
.conatiner-hr {
  width: 150px;
  border-color: var(--secondery);
  margin: 0 auto;
}

.banner-button {
  display: flex;
  justify-content: space-between;
}

.banner-button button {
  margin-top: 10px;
  background-color: transparent;
  padding: 15px;

  color: var(--main);
  text-transform: uppercase;
  border: 2px solid var(--main);
}

.banner-button button:hover {
  background-color: var(--main);
  color: var(--thirdrey);
}

/* end header  */

/* skill section  */
#skills {
  background-color: var(--fourthry);
  padding: 60px 0;
}
.skills-container {
  max-width: 90vw;
  margin: 0 auto;
}

.skill-item {
  text-align: center;
  margin: 20px 0;
}
.skill-item h2 {
  color: var(--main);
}

.skill-item .fas {
  font-size: 30px;
}

@media screen and (min-width: 425px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* end skill section  */

/* ##########################  */

/* Services section start  */

#services {
  min-height: 100vh;
  background: url(/img/services-img.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 20px 0 80px 0;
}

#services .title {
  margin: 40px 0;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  color: var(--thirdrey);
}
.services-container {
  max-width: 90vw;
  margin: 0 auto;
  color: var(--thirdrey);
}

.title-underline {
  width: 200px;
  margin: 0 auto;
  border: 2px solid var(--main);
}

.serivce-item {
  padding: 60px;
  position: relative;
  overflow: hidden;
}

.service-item-white {
  background: linear-gradient(
    rgba(206, 208, 206, 0.6),
    rgba(206, 208, 206, 0.6)
  );
}
.service-item-black {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.front-text {
  text-align: center;
  transition: transform 2s;
}

.back-text {
  position: absolute;
  bottom: -15em;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  transition: bottom 2s;
  padding: 30px 0;
}

.service-item .fas {
  font-size: 60px;
  margin-bottom: 30px;
  color: var(--main);
}

.back-text h2 {
  margin-bottom: 20px;
}

.back-text button {
  margin-top: 20px;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid var(--main);
  color: var(--secondery);
}

.back-text button:hover {
  background-color: var(--main);
  color: var(--secondery);
}

.service-item-white button {
  background: var(--main);
  color: var(--secondery);
  border-color: var(--main);
}

.service-item-white button:hover {
  background: var(--secondery);
  border-color: var(--secondery);
  color: var(--main);
}

.serivce-item:hover .front-text {
  transform: translateY(-200px);
}

.serivce-item:hover .back-text {
  bottom: 0;
}

@media screen and (min-width: 776px) {
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .services-container .serivce-item:nth-of-type(1) {
    order: 1;
  }
  .services-container .service-item:nth-of-type(2) {
    order: 2;
  }
  .services-container .service-item:nth-of-type(3) {
    order: 4;
  }
  .services-container .service-item:nth-of-type(4) {
    order: 3;
  }
}
