*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --yellow: #E6AF2E;
    --black:#191716;
    --white:white;
    --lightgray:#BDB7A4;
}


/* nav section  */

nav{
    background-color: var(--black);
    padding-top:40px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content:space-around;

}
 .nav-container h2{
    width: 50%;
    background-color: var(--yellow);
    border: 8px solid var(--yellow);
    
    
}

  h2 a{
    text-decoration: none;
    color: var(--black);
    text-align: center;
    padding: 80px;
    
}
.nav-container{
    background-color: var(--black);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

ul{
    border-top: 9px solid var(--yellow);
}
ul,li{
    width: 100%;
    display: flex;
    background-color: var(--black);
    padding: 4px;
    letter-spacing: 2px;
    text-align: center;
}


li a{
    text-decoration: none;
    color: var(--yellow);
}

li a:hover{
    color: white;
}

/* nav section end  */

/* #############################  */


/* header section  */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height:500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)), url(/img/header-img.jpg);
}

.banner{
    text-align: center; 
    color:var(--white);
    text-transform:uppercase;
}
.conatiner-hr{
 width: 150px;
border-color: var(--black);
margin: 0 auto;
}

.banner-button button{
    margin-top: 10px;
    background-color: transparent;
    padding: 15px;
    
    color: var(--yellow);
    text-transform: uppercase;
    border: 2px solid var(--yellow);
}

.banner-button button:hover{
    background-color: var(--yellow);
    color: var(--white);
}

/* end header  */

/* skill section  */
#skill{
    background-color: var(--lightgray);
    align-content: center;
    display: flex;
    
    
}

.skill-icon .fas{
    font-size: 30px;
   
    
    
}

.skill-heading{
    color: var(--yellow);

}
.skill-text{
    
}